<div class="row">
  <div class="col-md-12">
    <h4>预订须知</h4>
    <h6>入住时间</h6>
    <p>12:00后（若晚于24:00请联系房东确认）</p>
    <hr>
    <h6>退房时间</h6>
    <p>当天12：00之前</p>
    <hr>
    <h6>预订时长</h6>
    <ul>
      <li>24:00前可订当天</li>
      <li>最少预订1天， 最多预订天数不限</li>
    </ul>
    <hr>
    <h6>客人须知</h6>
    <ul>
      <li>允许抽烟、允许聚会、允许做饭、允许携带宠物、适合儿童（2-12岁）适合婴幼儿（2岁以下）适合老人（60岁以上）</li>
      <li>客户需要登记身份证</li>
    </ul>
    <hr>
  </div>
</div>