<p>您好 <%= @resource.email %>!</p>

<p>有人要求链接更改您的密码,您可以通过以下链接完成此操作。.</p>

<p><b><%= edit_password_url(@resource, reset_password_token: @token) %></b></p>

<p>如果您没有请求，请忽略此电子邮件.</p>
<p>在访问上面的链接并创建一个新链接之前，您的密码不会更改.</p>
